*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family:ShareTechMono;
    src: url(./fonts/ShareTechMono/ShareTechMono-Regular.ttf); 
    src: url(./fonts/ShareTechMono/ShareTechMono-Regular.woff2) format("woff2"),
    url(./fonts/ShareTechMono/ShareTechMono-Regular.woff) format("woff"),
    url(./fonts/ShareTechMono/ShareTechMono-Regular.eot) format("eot"),
}
@font-face{
    font-family:Poppins;
    src: url(./fonts/Popins/Poppins-Regular.ttf); 
    src: url(./fonts/Popins/Poppins-Regular.woff2) format("woff2"),
    url(./fonts/Popins/Poppins-Regular.woff) format("woff"),
    url(./fonts/Popins/Poppins-Regular.eot) format("eot"),
}
body{
    background-color: #000;
    color: rgba(255, 255, 255, 0.781);
    font-family: "Poppins",serif;
    line-height: 1.7;
}
.menu{
    direction: rtl;
    display: flex;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to bottom right, rgb(38, 65, 114), rgb(10, 10, 39), rgb(3, 3, 17));
    cursor: pointer;
}
.nav-menu a{
    text-decoration: none;
    margin:0 30px;
    color: rgba(255, 255, 255, 0.651);
    
}
.items {
    display: none;

}
.nav-menu li{
    list-style:none ;
}
.bar{
    width: 50px;
    height: 50px;
    border:1px solid rgb(44, 42, 42);
    background-color: rgb(44, 42, 42);
    border-bottom-left-radius: 20px;
    padding-right: 10px;
    padding-top: 15px;
}
.nav-menu ul li div:hover ul{
    display:inline;
}
.bar1{
    width:15px;
    height: 4px;
    background:linear-gradient(to right,rgb(255, 115, 0),white);
    margin-bottom: 3px;
    margin-right: 15px;
    border-radius: 50px;
}
.bar2{
    width:30px;
    height: 4px;
    background:linear-gradient(to right,rgb(255, 115, 0),white);
    margin-bottom: 3px;
    border-radius: 50px;
}
.bar3{
    width:15px;
    height: 4px;
    background:linear-gradient(to right,rgb(255, 115, 0),white);
    margin-left: 15px;
    border-radius: 50px;
}

.container1{
    display:flex;
    flex-direction:row;
    height: 100%;
}
.part1{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.part2{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin:10% 5% 13% 2%;
}
.part1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:cover;
}
h1{
    font-family: "ShareTechMono",serif;
    font-size: 3em;
    display:inline-block;
}
.part2 span{
    font-size: 2.5em;
    padding: 0 15px;
}
.part2 p{
    margin:20px 0;
    width: 90%;
}
#horizontal{
    border-top:1px solid;
    border-image: linear-gradient(to right,rgb(255, 115, 0),rgb(92, 49, 92),rgb(117, 53, 117))1;
    margin:0 8% 13% 8%;
}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "ShareTechMono",serif;
}
.container2 p{
    font-family: "Poppins",serif; ;
}
.container3{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5% 0;
}
.column1{
    width: 30%;
}
.column2{
    width: 30%;
}
.column3{
    width: 30%;
}
h3{
    font-family: "ShareTechMono",serif;
    background:linear-gradient(to right,rgb(255, 115, 0),rgb(119, 69, 119),rgb(170, 135, 170),rgb(102, 67, 102));
   -webkit-background-clip:text;
   -webkit-text-fill-color:transparent; 
}
.container3 p{
    margin: 0 100px 0 0;
}
.hr{
    border-top:1px solid;
    border-image: linear-gradient(to right,rgb(255, 115, 0),rgb(92, 49, 92),rgb(117, 53, 117))1;
    margin-bottom:10%;
}
@media screen and (min-width:900px) {
    .hr{
        display: none;
    } 
    .menu{
        display: none;
    }  
}
@media screen and (max-width:900px){
 .container1{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-content:center;
    }  
    .part1{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 5% 0 0 0;
    }
    .part2{
        width: 100%;
        margin: 0 0 5% 2%;
    }
    #horizontal{
        margin:0 0 15% 0;
    }
    .container2{
        margin:0 0 10% 0;
    }
    .container3{
        flex-wrap: wrap;
        height: 100%;
        margin: 0 2%;
    }
    .column1{
        width: 50%;
    }
    .column2{
        width: 50%;
    }
    .column3{
        width: 100%;
        justify-self: start;
        align-self: start;
        margin:10% 50% 10% 0;
    } 
}
@media screen and (max-width:600px){
    .part2 header{
        display: flex;
        justify-content: center;
        margin-left:20%;
    }
    .part2 p{
        text-align: center;
        margin:5% 5%;
    }
    .container2 p ,h2{
       margin:2% 0 2% 5%;
       text-align: center;

    }
    .container3{
        flex-direction: column;
        align-items:start;
        margin-left:10%;
    }
    .column1{
        width: 100%;
        margin-bottom: 20%;
    }
    .column2{
        width: 100%;
        margin-bottom: 20%;
    }
    .column3{
        width: 100%;
        margin-top: 0;
    }
}